/* slider-container */
.slider-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

/* slide-track */
.slide-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-track .slide-heading {
    text-align: center;
    color: white;
    font-size: var(--fs-xxl);
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 10px;
}

.slide-track .slide-sub-heading {
    text-align: center;
    color: white;
    font-size: var(--fs-lg);
    line-height: 1;
    max-width: max(90%, 1000px);
}

/* slider-nav-container */
#slider-nav-container {
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}

#slider-nav-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #0000ff31;
}

#slider-nav-container .slider-nav-item {
    list-style: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px 5px 5px;
}

#slider-nav-container .slider-nav-item.nav-item-active {
    color: var(--primary-color);
}

