#about-page main {
    padding-bottom: 0px;
}

.story-to-goals, .core-values  {
    padding: 0 20px;
}

#about-page .story-to-goals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#about-page .story-to-goals .our-story {
    margin-bottom: 30px;
    text-align: center;
}

#about-page .story-to-goals .our-story h2 {
    text-align: center;
}

#about-page .story-to-goals .our-compass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1800px;
}

#about-page .story-to-goals .our-compass .guidance-img {
    flex-basis: 400px;
    flex-grow: 1;
    min-height: 200px;
    border-radius: 20px;
    max-width: min(calc(100vw - 30px), 750px);
}

#about-page .story-to-goals .our-compass .mission-x-vision {
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid green; */
}

.our-vision, .our-mission, .our-goal {
    flex-grow: 1;
    width: 100%;
}

.our-goal {
    margin-bottom: 15px;
}

.core-values {
    margin: 30px 0;
}

.core-values h2, .core-values .sub-heading {
    text-align: center;
}

.core-values .sub-heading {
    margin-bottom: 30px;
}

.core-values-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

@media screen and (max-width: 400px) {
    .core-values-list {
        display: flex;
        flex-direction: column;
    }
}

.core-values-list .core-value-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    text-align: center;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.core-value-icon-container {
    margin: 0 auto;
}

.core-value-icon {
    color: var(--primary-color);
    font-size: 50px;
}

#about-page .milestones {
    background-color: aliceblue;
}

@media screen and (min-width: 700px) and (max-width: 1210px) {
    #about-page .story-to-goals .our-compass .mission-x-vision {
        text-align: center;
        max-width: 750px;
    }
}