.modal-overlay {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-container {
    position: relative;
    background: white; 
    border-radius: 10px;
    max-width: min(calc(100vw - 20px), 1200px);
    max-height: 95%;
    overflow-y: auto;
    padding-bottom: 30px;
}

.close-icon-container {
    position: sticky;
    top: 0;
    background-color: inherit;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.close-icon-container .fa-x {
    color: var(--secondary-color);
    font-size: large;
    padding: 10px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}

.close-icon-container .fa-x:hover {
    color: var(--primary-color);
}


/* Notification Modal */
.modal-backdrop {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-backdrop.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-backdrop .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    transform: scale(0.95);
    opacity: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.modal-content.show {
    transform: scale(1);
    opacity: 1;
}

.modal-content button {
    width: 200px;
    font-size: larger;
}