#services-page .main-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-page .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Service Modal Content */
.modal-content {
    margin: 5px 20px;
    height: 100%;
}

.modal-content .modal-content-heading {
    margin-bottom: 10px;
    line-height: 1.2;
}

.modal-content-img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

.main-content li {
    list-style: none;
}

.main-content .service-benefits-container p:nth-child(1) {
    margin: 10px 0;
    font-weight: 500;
}

.main-content .service-benefits {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.main-content .service-benefit-item {
    display: flex;
    gap: 10px;
}

.main-content li .fa-circle-check {
    color: rgb(0, 255, 0);
    margin-top: 7px;
}