#services-page .main-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-page .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

/* Service Modal Content */
.modal-content {
    margin: 5px 20px;
    height: 100%;
}

.modal-content-img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
}
