.service-accordion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion-header {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 5px;
    border-radius: 10px;
    border-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(0, 0, 0, 0.7) 0px 1px 2px;
}

.accordion-header.open {
    border-radius: 10px 10px 0 0;
}

.accordion-header:hover {
    transform: translateX(30px);
    .accordion-icon {
        color: var(--primary-color);
    }
    .fa-arrow-down.accordion-icon {
        color: var(--secondary-color);
    }
}

.fa-arrow-down.accordion-icon {
    color: var(--secondary-color);
}

.accordion-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 300ms ease;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px, rgba(0, 0, 0, 0.7) 0px 1px 2px;
}

.accordion-body.visible {
    border-radius: 0 0 10px 10px;
}

.accordion-body .service-description {
    padding: 5px 10px;
}

.accordion-cta {
    border: 2px solid transparent;
    color: unset;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    display: inline-flex;
    flex: 0;
    background-color: var(--primary-color);
    width: max-content;
    align-self: center;
    margin-bottom: 5px;
}

.accordion-cta:hover {
    background-color: var(--secondary-color);
}

@media screen and (max-width: 1199px) {
    .service-accordion {
        max-width: calc(100% - 10px);
    }
}

/* Only touch devices */
@media (pointer: coarse) {
  .accordion-header:hover {
    transform: none;
  }
}