.contact-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 10px;
    padding-bottom: 20px;
    margin: 30px;
    overflow-x: hidden;
}

.contact-channels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    max-width: 900px;
    min-width: 622px;
}

#contact-page h2.section-heading {
    padding-top: 0;
    color: var(--secondary-color);
}

.phones-x-emails-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.phones-x-emails-container > * > * {
    height: 100%;
}

.icon-x-info {
    min-width: 300px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
    color: unset;
    text-decoration: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.contact-icon {
    font-size: 30px;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: scale 300ms ease-in-out;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.info-heading {
    font-weight: bold;
    color: var(--primary-color);
}

.social-container .section-heading {
    margin-bottom: 15px;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.socials .icon-x-info {
    max-width: 300px;
}

.socials .icon-x-info:hover {
    .contact-icon {
        scale: 1.2;
    }
}

.fa-envelope {
    color: red;
}

.fa-facebook, .fa-square-linkedin {
    color: blue;
}

/* Office Hours */
.container {
    width: 100%;
}

.office-hours-section {
    max-height: max-content;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: var(--primary-color);
    color: white;
    margin: 0 auto;
}

.office-section-heading {
    margin-bottom: 15px;
}

.office-hours-section h3.section-subheading {
    text-align: center;
    font-weight: 500;
}

.office-hours-container, .weekdays-container, .weekends-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.office-hours-container .row {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: x-large;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.office-hours-container .row .day {
    min-width: 220px;
}

/* Quote Section */
#quote-section {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

#quote-section .section-heading {
    padding: 0;
}

#quote-section .section-subheading {
    text-align: center;
}

#quote-section .view-heading {
    margin-left: 10px;
}

.quote-form {
    min-width: 900px;
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.quote-form .form-section {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input-x-error, .label_x_input-x-error {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.label_x_input-x-error {
    min-width: 230px;
}

.input-x-error .error-field {
    color: red;
}

.input-field {
    height: 40px;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.input-field::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.radio-container {
    gap: 40px;
}

.radio-x-label {
    display: flex;
    gap: 5px;
    align-items: center;
}

.radio-input {
    transition: all 300ms ease-in-out;
}

.radio-x-label:hover {
    .radio-input {
        scale: 1.2;
    }
}

.radio-input, .radio-x-label label {
    cursor: pointer;
}

.form-cta-container .cta {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
    width: 40%;
    max-width: 250px;
}

.general-error-container {
    text-align: center;
    color: red;
    font-weight: 500;
}

/* View 2 */
.form-row.select-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-menu label {
    min-width: 160px;
    max-width: 100%;
}

.custom-select {
    flex: 1;
    position: relative;
    display: inline-block;
    min-width: max-content;
    max-width: 100% !important;
    overflow-x: hidden;
}

.custom-select select {
    width: 100%;
    font-size: inherit;
    padding: 5px 10px;
    border: 2px solid;
    appearance: none;
    padding-right: 30px; /* space for arrow */
    cursor: pointer;
}

.custom-select::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-10%);
    border: 10px solid transparent;
    border-top-color: #000; /* arrow color */
    pointer-events: none; /* allow clicks to pass through */
}

.address-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address-section label {
    min-width: 160px;
}
    
.address-section input {
    flex: 1;
}

.mx-cnt {
    min-width: max-content;
}

button:focus {
    background-color: var(--secondary-color);
    color: white;
}

/* View 3 */
.cargo-info .form-row {
    align-items: center;
}

.cargo-row {
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 10px;
}

.cargo-row .dimensions-container {
    height: auto;
}

.cargo-row .dimensions-inputs {
    display: flex;
    gap: 10px;
}

.cargo-row .dimensions-inputs input {
    width: 30%;
    flex: 1;
}

.cargo-form-row {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    border-radius: 10px;
    margin-bottom: 5px;
}

.cargo-input-field {
    margin-bottom: 5px;
}

.add-x-del-cargo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    margin: auto;
}

.add-x-del-cargo button:active {
    background-color: transparent;
}

.add-x-del-cargo button:focus {
    background-color: transparent;
    color: black;
}

.cargo-icon {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: inherit;
    font-size: x-large;
    cursor: pointer;
}

.fa-trash-can {
    color: rgb(151, 3, 3);
}

.fa-trash-can:hover {
    color: red;
}

.fa-circle-plus {
    color: rgb(4, 160, 4);
}

.fa-circle-plus:hover {
    color: rgb(5, 218, 5);
}

.form-section #comment {
    min-height: 200px;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    resize: vertical;
}

.notification-body-1 {
    text-align: center;
}

@media screen and (max-width: 510px) {
    .contact-group {
        margin: 0;
    }
    
    .office-hours-section {
        width: 95%;
    }
    
    .office-hours-container .row:not(.closed) {
        flex-direction: column;
        gap: 0;
        text-align: center;
    }

    .office-hours-container .row .day {
        min-width: unset;
    }

    .office-hours-container .row.closed {
        justify-content: space-around;
    }
}

@media screen and (max-width: 340px) {
    .quote-form, .quote-form .form-section {
        padding: 0px;
    }
}

@media screen and (max-width: 625px) {
    .contact-channels {
        min-width: unset;
    }
}

@media screen and (max-width: 900px) {
    .quote-form {
        min-width: unset;
        max-width: calc(100vw - 20px);
    }
}

@media screen and (min-width: 870px) and (max-width: 1120px) {
    .label_x_input-x-error {
        min-width: 320px;
    }
}

@media screen and (min-width: 1120px) and (max-width: 1260px) {
    .label_x_input-x-error {
        min-width: 380px;
    }
    
    .dimensions-container {
        min-width: 350px;
    }
}
