/* Hero Section */
#home-page #hero-section {
    height: min(calc(100vh - var(--header-height)), 850px);
    background-color: rgba(0, 0, 0, 0.9);
}

#home-page #hero-section .swiper, 
#home-page #hero-section .swiper-wrapper, 
#home-page #hero-section .swiper-slide {
    width: 100%;
    height: 100%;
}

#home-page #hero-section .hero-slide {
    height: 100%;
    width: 100%;
    position: relative;
}

#home-page #hero-section .hero-slide .hero_img {
    max-width: 100%;
    max-height: 100%;
}

#home-page #hero-section .hero-slide .hero-text {
    padding: 10px;
}

#home-page #hero-section .hero-slide .slide-heading {
    text-align: center;
    color: white;
    font-size: var(--fs-xxl);
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 10px;
}

#home-page #hero-section .hero-slide .slide-sub-heading {
    text-align: center;
    color: white;
    font-size: var(--fs-lg);
    line-height: 1;
    max-width: max(90%, 1000px);
}

/* Message 4rm MD */
.md-message {
    background-color: var(--primary-color);
}

.md-img-x-text {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.md-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
}

.md-text-container .section-heading {
    padding: 0;
    margin-top: 15px;
}

.md-text-container .md-text {
    line-height: 1.5;
}

.md-text-container .md-text em {
    font-weight: 500;
}

.md-text-container h2 {
    text-align: unset;
}

.md-img {
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
}

/* brief-services */
#home-page #brief-service {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: var(--color-4);
}

#home-page .service-heading {
    text-align: left;
}

.ic-x-slc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px 30px;
    overflow-x: hidden;
}

.ic-x-slc .ic {
    min-width: 50%;
    max-width: 500px;
    height: 500px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ic-x-slc .slc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
    min-width: 500px;
    max-width: 500px;
}

/* Testimonials Section */
#testimonials-section {
    margin: 0 auto;
}

#testimonials-section h3 {
    text-align: center;
    padding: 15px 0;
}

#testimonials-section .swiper-wrapper {
  align-items: center;
}

#testimonials-section .swiper-slide {
  padding: 5px 0;
  margin-top: auto;
  margin-bottom: auto;
}

.swiper-button-prev {
    color: var(--primary-color);
}

.swiper-button-next {
    color: var(--secondary-color);
}

/* Trust Section */
.trust-reasons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trust-reasons .section-heading {
    width: 100%;
    padding: 10px 0;
}

/* Clients Section */
#clients {
    width: 100%;
    background-color: var(--color-4);
}

#clients h2 {
    padding-top: 10px;
    padding-bottom: 6px;
}

#clients .client-img {
    width: 300px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}

/* Map Section */
.map-section {
    padding: 5px;
}

.map-section iframe {
    width: 100%;
    border-radius: 10px;
}

.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.rfm-marquee-container {
    padding: 15px 0;
}

@media screen and (max-width: 1199px) {
    .ic-x-slc {
        flex-direction: column;
    }

    .ic-x-slc .ic {
        width: 100%;
        max-width: 1000px;
        flex-grow: 1;
    }

    .ic-x-slc .slc {
        max-width: 600px;
    }
}

@media screen and (max-width: 900px) {
    #hero-section .swiper-button-prev, 
    #hero-section .swiper-button-next {
        display: none;
    }
}

@media screen and (max-width: 775px) {
    .md-img-x-text {
        flex-wrap: wrap;
        gap: 0;
    }
    
    .md-text-container {
        max-width: 90%;
        text-align: center;
        gap: 10px;
    }

    .md-text-container .md-text {
        line-height: 1.3;
    }
}

@media screen and (max-width: 610px) {
    .ic-x-slc .slc {
        min-width: unset;
    }
}

@media screen and (max-width: 400px) {
    .md-img {
        max-width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .testifier-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
