body #root .page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.main-container {
  width: 100%;
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 0;
}

.hyperlink {
  width: fit-content;
  text-decoration: none;
  color: white;
}

h2.section-heading {
    padding-top: 30px;
    text-align: center;
    line-height: 1;
}

p.section-sub-heading {
  text-align: center;
}

.milestones {
  background-color: var(--primary-color);
}

.milestones #statistics {
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);    
  grid-template-rows: repeat(auto-fit, 150px);
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  padding: 30px 10px 50px;
  margin: 0 auto;
}

.cta-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
  padding: 10px;
}

.cta {
  display: block;
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: color 250ms ease-in-out;
  text-align: center;
  cursor: pointer;
}

.cta:hover {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
}

.auto-truncate {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncated-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncated-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Remove spinner in Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.img-fit {
  object-fit: cover;
  object-position: center;
}

.hero_img-x-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.hero_img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.hero-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  padding: 5px 0;
  margin-top: auto;
  margin-bottom: auto;
}

.map-section, .map-section iframe {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 400px) {
  .milestones #statistics {
    display: flex;
    flex-direction: column;
  }
}
